<header>
    <ul class="Hlogo">
        <li class="LL"><img class="logo" src="./img/Logo.png"></li>
        <li class="LL">
            <h1>{{title}}</h1>
        </li>
    </ul>
    <ul>
        <li class="Main"><a href="/index">Home</a></li>
        <li><a href="/about">About</a></li>
        <li>
            <a href="/help">Help</a>
        </li>
    </ul>
</header>