<!DOCTYPE html>
<html>
<title>
    404 Error
</title>

<head>
    <link rel="icon" href="./img/weather.png" />
    <link rel="stylesheet" href="./css/Style.css" />
</head>

<body>
    <div class="main_content">
        {{>header}}
        <p>{{Error}}</p>
    </div>
    {{>Footer}}
</body>

</html>